<div class="formcontainer">
    <h1 class="tituloAsignaciones">Crear Asignación</h1>
    <form (ngSubmit)="createAsignacion()">
        <!-- Mostrar el conductor, campo deshabilitado -->
        <div class="form-group" *ngIf="conductor">
            <label for="conductor">Conductor:</label>
            <input type="text" id="conductor" [value]="conductor.nombre" disabled />
            <br />
        </div>

        <!-- Seleccionar modelo de bus -->
        <div class="form-group">
            <label for="modelo">Modelo bus:</label>
            <select id="modelo" [(ngModel)]="newAsignacion.bus" name="modelo" required>
                <option *ngFor="let bus of buses" [ngValue]="bus">{{ bus?.modelo }}</option>
            </select>
            <br />
        </div>

        <!-- Seleccionar código de la ruta -->
        <div class="form-group">
            <label for="codigo">Código ruta:</label>
            <select id="codigo" [(ngModel)]="newAsignacion.ruta" name="codigo" required>
                <option *ngFor="let ruta of rutas" [ngValue]="ruta">{{ ruta?.codigo }}</option>
            </select>
            <br />
        </div>

        <!-- Seleccionar días de asignación -->
        <div class="form-group">
            <label for="diasAsignacion">Días de Asignación:</label>
            <div *ngFor="let dia of diasSemana">
                <input type="checkbox" [id]="dia" (change)="onDiaChange(dia, $event)" />
                <label [for]="dia">{{ dia }}</label>
            </div>
            <br />
        </div>

        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
        </div>

        <!-- Botones de acción -->
        <div class="button-container">
            <button type="submit" class="botonRojo">Guardar</button>
            <a class="cancel-button" *ngIf="conductor" [routerLink]="['/asignacion/view', conductor.id]">Cancelar</a>
        </div>
    </form>
</div>
