<div class="formcontainer">
    <h1 class="tituloConductores">Crear conductor</h1>
    <form (ngSubmit)="createConductor()">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="newConductor.nombre" name="nombre" required />
            <br />
        </div>
        <div class="form-group">
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" [(ngModel)]="newConductor.cedula" name="cedula" required />
            <br />
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" [(ngModel)]="newConductor.telefono" name="telefono" required />
            <br />
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" [(ngModel)]="newConductor.direccion" name="direccion" required />
            <br />
        </div>
        <div class="button-container">
            <button type="submit" class="botonRojo">Guardar</button>
            <a class="cancel-button" [routerLink]="['/conductor/conductor-list']">Cancelar</a>
        </div>
    </form>
</div>
