<div class="formcontainer">
    <h1 class="tituloRutas">Crear Ruta</h1>
    <form (ngSubmit)="createRuta()">
        <div class="form-group">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" [(ngModel)]="newRuta.codigo" name="codigo" required />
            <br />
        </div>
        <div class="form-group">
            <label for="estaciones">Estaciones:</label>
            <input type="text" id="estaciones" [(ngModel)]="newRuta.estaciones" name="estaciones" required />
            <br />
        </div>
        <div class="form-group">
            <label for="horario">Horario:</label>
            <input type="text" id="horario" [(ngModel)]="newRuta.horario" name="horario" required />
            <br />
        </div>
        <div class="button-container">
            <button type="submit" class="botonRojo">Guardar</button>
            <a class="cancel-button" [routerLink]="['/ruta/list']">Cancelar</a>
        </div>
    </form>
</div>
