<h1 class="tituloConductores">Conductores</h1>

<form class="buscarConductorForm" (ngSubmit)="searchConductors()">
    <label for="searchText">Buscar por nombre:</label>
    <input type="text" id="searchText" [formControl]="searchControl" required>
    <button type="submit">Buscar</button>
</form>

<table class="entity-list" *ngIf="conductores$ | async as conductores">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Ver</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conductor of conductores">
            <td>{{ conductor.nombre }}</td>
            <td>{{ conductor.cedula }}</td>
            <td>{{ conductor.telefono }}</td>
            <td>{{ conductor.direccion }}</td>
            <td>
                <a class="botonRojo" [routerLink]="['/conductor/view', conductor.id]">Ver</a>
            </td>
            <td>
                <a class="botonRojo" [routerLink]="['/conductor/edit', conductor.id]">Editar</a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="button-container1">
    <a class="volver-button" [routerLink]="['/conductor/conductor-list']">Volver</a>
</div>
