<h2 class="tituloBuses">Bus</h2>

<div class="Bus-info-container" *ngIf="Bus$ | async as Bus; else loading">
    <img class="profile-icon" src="https://pbs.twimg.com/profile_images/1612908866559156257/2VI4OuKj_400x400.png" alt="Icono de Perfil">
    
    <div class="Bus-details">
        <div class="detail-item">
            <span class="label">Nombre:</span>
            <span>{{ Bus.modelo }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Cédula:</span>
            <span>{{ Bus.placa }}</span>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Cargando Bus...</p>
</ng-template>

<div class="button-container1">
    <a class="volver-button" [routerLink]="['/bus/list']">Volver</a>
</div>
