<h2 class="tituloRutas">Ruta</h2>

<div class="Ruta-info-container" *ngIf="Ruta$ | async as Ruta; else loading">
    <img class="profile-icon" src="https://cdn-icons-png.freepik.com/512/3466/3466356.png" alt="Icono de Perfil">
    
    <div class="Ruta-details">
        <div class="detail-item">
            <span class="label">Código:</span>
            <span>{{ Ruta.codigo }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Estaciones:</span>
            <span>{{ Ruta.estaciones }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Horario:</span>
            <span>{{ Ruta.horario }}</span>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Cargando Ruta...</p>
</ng-template>

<div class="button-container1">
    <a class="volver-button" [routerLink]="['/ruta/list']">Volver</a>
</div>
